body {
    font-family: Arial;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

h2 {
    margin-top: 0px;
}

.comprar {
    /* display: inline-block; */
    background: #a8f;
    text-decoration: none;
    padding: 10px 20px;
    color: #103;
    border-radius: 4px;
}

.item {
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    /* margin-bottom: 20px; */
    padding: 20px;
    border-radius: 4px;
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
    justify-content: center;
}